# App
.sass-cache/
dist/
nginx/certs/
nginx/servers-enabled/
nginx/nginx.conf
node_modules/
src/components.d.ts
www/
.stylelint-cache

# IDEs
.idea/dictionaries/
.idea/**/workspace.xml
.vscode/
*.sublime-project
*.sublime-workspace

# Common OS files
$RECYCLE.BIN/
.DS_Store
Thumbs.db
