app-rich-editor-menu-item {
  display: inline-block;
  line-height: normal;

  &.button {
    border: 0;
    height: auto;
    width: auto;
    padding: 4px 4px 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--textColor);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active,
    &:hover,
    &:active {
      background-color: var(--darkGreen);
    }
  }

  &.separator {
    height: 100%;
    width: 2px;
    background-color: var(--textColor);
    margin: 0 10px;
  }
}
