app-rich-editor-menu-bar {
  display: flex;
  flex-direction: row;
  height: 0;
  overflow: hidden;
  margin-top: -100px;
  transition: margin-top var(--animationDuration) var(--animationTiming);

  &.active {
    height: 31px;
    margin-top: 12px;
  }
}
