@import 'animations.css';

app-rich-editor-menu-bar {
  display: flex;
  flex-direction: row;
  height: 0;
  overflow: hidden;
  transform: translateY(-100px);
  transition: transform var(--animationDuration) var(--animationTiming);

  &.active {
    height: 31px;
    transform: translateY(12px);
  }
}
